@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shaw Interview Exercise</h2>

<p>Thank you for you interest in becoming a developer at Shaw Media.</p>

<p>This contains the set-up for you to get started.  One MVC Web Application, and one Web API Application with some basic code.</p>

<p>We would like to see a well formated responsive pages similar to: <a href="http://www.globaltv.com/shows/" target="_blank">Global TV Show Landing</a></p>

<p>We are always happy to see some unit tests where appropriate.</p>

<h3>Deliverables:</h3>
    
<p>Please feel free to add more functionality if you like.</p>
    
<p>Administrative Pages:</p>
    
<ul>
    <li>UI's for creating, updating, and deleting shows</li>
    <li>API end points for creating, updating, and deleting shows (Please transfer data in JSON)</li>
    <li>Show content to be accessed from the API</li>
</ul>

<p>User Pages:</p>
   
<ul>
    <li><a href="/shows/">Show Landing</a> page with a list of shows </li>
    <li>Detail Pages for each show.</li>
</ul>

<p>We put no constraints on how far you wish to change this code.  And please change our code and its structure towards something you would be proud to call your own.</p>

<ol>
    <li>
        Clone this repository into your own Git repository.
        <b>Please do not push code to Shaw's repository.</b>
    </li>

    <li>Create a new repository and copy the code from this.</li>

    <li>Please share your repository with me so that my team and I will have time to familiarize ourselves with you code before the interview.</li>
</ol>